<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Startseite</title>
		<link rel="stylesheet" href="public/node_modules/materialize-css/dist/css/materialize.min.css" />
		<link rel="stylesheet" href="public/node_modules/ol/ol.css" />
		<link rel="stylesheet" href="public/assets/css/styles.css" />
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Logo</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="sass.html">Login</a></li>
				</ul>
			</div>
		</nav>
		<div id="map" class="map"></div>
		<script src="public/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
		<script src="public/assets/js/OpenLayers.light.js"></script>
		<script src="public/assets/js/script.js"></script>
	</body>
</html>