<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<title>Startseite</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="public/node_modules/materialize-css/dist/css/materialize.min.css" />
		<link rel="stylesheet" href="public/assets/css/m151.styles.css" />
		<link rel="stylesheet" href="public/node_modules/toastr/build/toastr.min.css" />
		<link href="favicon.png" rel="icon" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	</head>
	<body>
		<nav class="nav-extended red lighten-1">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center col s4">
					<img class="logo" alt="Logo" src="logo.svg"/>
				</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="login">Login</a></li>
				</ul>
			</div>
			<div class="nav-content">
				<ul class="tabs tabs-fixed-width tabs-transparent">
					<li class="tab"><a href="#test1">Studentsmap</a></li>
					<li class="tab"><a class="active" href="#test2">Studentenliste</a></li>
				</ul>
			</div>
		</nav>
		<div id="test1" class="col s12">
			<div id="map" class="map"></div>
		</div>
		<div id="test2" class="col s12">
			<main id="container-students" class="container">
				<div class="row">
					<table class="striped">
						<thead>
						<tr>
							<th>Vorname</th>
							<th>Nachname</th>
							<th>Ortschaft</th>
							<th></th>
						</tr>
						</thead>
						<tbody id="form-top">
						<tr>
							<td>
								<div class="input-field">
									<i class="material-icons prefix">account_circle</i>
									<input id="firstname" type="text" class="validate" placeholder="">
									<label for="firstname">Vorname</label>
								</div>
							</td>
							<td>
								<div class="input-field">
									<input id="lastname" type="text" class="validate" placeholder="">
									<label for="lastname">Nachname</label>
								</div>
							</td>
							<td>
								<div class="input-field">
									<input type="text" id="autocomplete-input" class="autocomplete" placeholder="">
									<label for="autocomplete-input">Wohnort</label>
									<input id="autocomplete-input-value" type="hidden">
								</div>
							</td>
							<td>
								<a id="add-student" class="waves-effect waves-light btn red lighten-1">Hinzufügen</a>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="striped">
						<thead>
						<tr>
							<th>Vorname</th>
							<th>Nachname</th>
							<th>Ortschaft</th>
							<th>Löschen</th>
							<th>Editieren</th>
						</tr>
						</thead>
						<tbody id="output-table"></tbody>
					</table>
				</div>
				<div id="output-error"></div>
			</main>
		</div>
		<footer class="page-footer red lighten-1">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">M151 LB3</h5>
						<p class="grey-text text-lighten-4">Projektarbeit für das Modul 151.</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2019 Marco Schneider
				</div>
			</div>
		</footer>
		<script src="public/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
		<script src="public/node_modules/toastr/build/toastr.min.js"></script>
		<script src="public/lib/ol/OpenLayers.js"></script>
		<script src="public/assets/js/ajax.js"></script>
		<script src="public/assets/js/script.js"></script>
	</body>
</html>