<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="public/node_modules/materialize-css/dist/css/materialize.min.css" />
		<link rel="stylesheet" href="public/assets/css/m151.styles.css" />
		<link href="favicon.png" rel="icon" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
		<title>Ortschaften</title>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper red lighten-1">
				<a href="#" class="brand-logo">
					<img class="logo" alt="Logo" src="logo.svg"/>
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="login">Login</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h3>Ortschaften erfassen</h3>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s3">
							<input placeholder="" id="placename" type="text" class="validate">
							<label for="placename">Ortschaftsname</label>
						</div>
						<div class="col s1">
							<p class="center-align">ODER</p>
						</div>
						<div class="input-field col s3">
							<input placeholder="" id="plz" type="text" class="validate">
							<label for="plz">Postleitzahl</label>
						</div>
						<button id="add-place" type="button" class="btn waves-effect waves-light red lighten-1 col s3">Hinzufügen</button>
					</div>
				</form>
			</div>
			<div id="output-error"></div>
		</div>
		<script src="public/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
		<script src="public/lib/ol/OpenLayers.js"></script>
		<script src="public/assets/js/ajax.js"></script>
		<script src="public/assets/js/script.js"></script>
	</body>
</html>